@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
:root {

  --dp-input-padding: 9px 30px 10px 12px; /*Padding in the input*/
   /*Font sizes*/
   --dp-font-size: 0.9rem; /*Default font-size*/
   --dp-preview-font-size: 0.8rem; /*Font size of the date preview in the action row*/
   --dp-time-font-size: 0.8rem; /*Font size in the time picker*/
}
.dp__theme_light {
  --dp-border-color:rgb(229 231 235);
}
